.header {
    background-color: #21ba45;
    margin-bottom: 2em;
}

.links a {
    display: inline-block;
    background: 0;
    color: #fff;
    text-decoration: none;
    padding: 0.18571429em 0.92857143em;
    transition: color 0.1s ease;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0.5em 0;
}

.links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.links a.active {
    background-color: rgba(0, 0, 0, 0.1);
}
