.progress {
    max-width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.28571429rem;
}

.barLine {
    background-color: #21ba45;
    transition: width 0.1s ease, background-color 0.1s ease;
    min-width: 2em;
    height: 0.5em;
    border-radius: 0.28571429rem;
}
