.tagsCloud {
    margin-top: 1em;
    text-align: center;
}
.label {
    display: inline-block;
    line-height: 1;
    background-color: #21ba45;
    padding: 4px 7px;
    border-radius: 0.28571429rem;
    color: #fff;
    margin: 5px 3px 0;
}
