<IfModule mod_rewrite.c>
  RewriteEngine On

  # If there is a .html file with that name, give it to me
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # If file or directory not found - 404
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ - [R=404,L]
</IfModule>

# Set up a custom 404 page
ErrorDocument 404 /404.html
