:root {
    --text-color: #192a3e;
}

@media (prefers-color-scheme: light) {
    :root {
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--text-color);
    font-weight-color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7rem;
    background-color: #efefef;
    background-image: url('background-pattern.png');
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.subTitle {
    font-weight: 400;
    position: relative;
    padding-left: 20px;
    margin: 2em 0 0;
}
.subTitle:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #21ba45;
    position: absolute;
    left: 0;
    top: 0;
}
.subTitleInfo {
    line-height: 1.3em;
    margin-top: 1em;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }
}

main {
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    background: hsla(0, 0%, 87.8%, 0.7);
    height: 100%;
    min-height: 100vh;
    padding: 0 0 2em;
}

section {
    position: relative;
    background: #fff;
    margin: 1em 0 3em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    padding: 2em;
    box-shadow: none;
}
section:first-of-type {
    margin-top: 0;
}

.wrapperContent {
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .wrapperContent {
        padding: 0 1em;
    }
}
