.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -0.5em -1em;
}

.item {
    flex: 1 0 45%;
    padding: 0 1em;
    margin-bottom: 1em;
}
.item > svg {
    float: left;
    width: 18px;
    height: 18px;
    line-height: 20px;
    margin-top: 4px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    .item {
        flex: 1 0 100%;
    }
}
