.loading {
    margin: 20px;
    text-align: center;
}

.blogFooter {
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 13px;
    padding-top: 13px;
}

.blogText {
    white-space: pre-wrap;
    line-height: 1.3em;
}

.blogDate {
    float: right;
}

.parameter {
    color: #000;
    background-color: #e8e4e4;
    border-radius: 4px;
    padding: 3px 6px;
    margin-right: 10px;
}
.parameter > svg {
    height: 16px;
    margin-right: 3px;
}

.sliderNextButton {
    background-color: hsla(0, 0%, 59.6%, 0.8) !important;
    border-radius: 50%;
    padding: 6px 5px 4px 9px !important;
    margin-right: 20px;
    opacity: 0.5 !important;
}
.sliderNextButton:hover {
    opacity: 0.8 !important;
}
.sliderPrevButton {
    background-color: hsla(0, 0%, 59.6%, 0.8) !important;
    border-radius: 50%;
    padding: 6px 8px 4px 6px !important;
    margin-left: 20px;
    opacity: 0.5 !important;
}
.sliderNextButton > svg,
.sliderPrevButton > svg {
    width: 18px;
    height: 18px;
    fill: #fff;
}
.sliderDotsContainer {
    background-color: hsla(0, 0%, 59.6%, 0.4);
    border-radius: 3px;
    padding: 6px !important;
}
.sliderDots {
    width: 17px;
    height: 3px;
    background: #fff !important;
    fill: transparent !important;
    margin: 0 3px 0 3px;
}
.sliderDotsContainer > li {
    height: 16px;
}
.sliderDots:hover {
    opacity: 0.8 !important;
}
.slider {
    height: 500px;
    border-radius: 6px;
    margin-bottom: 13px;
}
.sliderItem {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    text-align: center;
}
.sliderItemBackground {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scale(1.1);
    filter: blur(4px) brightness(50%) contrast(80%);
}
.sliderImage {
    position: relative;
    z-index: 0;
    max-width: 100%;
    height: 500px;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .sliderImage,
    .slider,
    .sliderItem {
        height: 300px;
    }
    .blogDate {
        float: none;
        margin-top: 10px;
        display: block;
    }
}
