.projects {
    display: flex;
    justify-content: space-between;
    margin: 1em -0.5em;
}

.item {
    padding: 0.4em 0.4em 0;
    margin: 0 0.5em;
    background: #fff;
    border-radius: 0.3em;
}

.item img {
    width: 100%;
    border-radius: 0.3em;
    margin-bottom: -2px;
}

@media screen and (max-width: 600px) {
    .projects {
        flex-wrap: wrap;
    }

    .item {
        width: 48%;
        margin: 0.5em 0.25em;
    }
}
