.projects {
    display: flex;
    justify-content: space-between;
    margin: 1em -0.5em;
    flex-wrap: wrap;
}

.item {
    flex: 1 0 23%;
    padding: 0.2em 0.2em 0;
    margin: 0 0.2em 0.4em;
    background: #fff;
    border-radius: 0.3em;
}

.item img {
    width: 100%;
    height: 190px;
    border-radius: 0.3em;
    margin-bottom: -3px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .projects {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item {
        width: 48%;
        margin: 0.5em 0.25em;
    }

    .item img {
        height: auto;
    }
}
